# Archivos de sistema y temporales
.DS_Store
*.log

# Terraform / OpenTofu
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Directorios de buzón y temporales
buzon-pedidos/*
!buzon-pedidos/.keep

# Configuración de IDE
.vscode/
.idea/

# Claves y Secretos (¡NUNCA SUBIR!)
*.pem
*.key
*.crt
kubeconfig
.kube/

# Archivos de Docker temporales
worker/nohup.out
